*{
    margin: 0px;
    padding: 0px;
}

#location{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #202124 ;
    color: #ffffff;
   
}
#change{
    margin-left: 30px;
    padding: 5px 15px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #ffffff;
    background-color: #202124;
    color: #ffffff;
}
#location div{
    margin-right: 10px;
    margin-left: 20px;
}
#linelogo{
    margin-left: 7.5%;
}
#heading{
    margin-left: 7.5%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
    font-weight: 700;
   
}
#emptycart{
   
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 20px;
    background-color: #f8f7f5 ;
    margin-bottom: 150px;
}
#emptycart > div{
    width: 50%;
  
   
   display: flex;
   align-items: center;
   justify-content: center;
   
}

#emptycart img{
    margin-top: 40px;
}

#start_order{
    
    padding: 15px 35px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #ffffff;
    background-color: #e4002b;
    color: #ffffff;
    
}
#emptycart h1{
    margin-bottom: 25px;
}


#lovethese{
    width: 85%;
    margin: auto;
    border-bottom: 2px solid #e3e3e3;
    margin-bottom: 80px;
}

#lovecard{
    width: 20%;
    text-align: center;
    
    height: 450px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 60px;
   

}
#lovecard > div:nth-child(2)  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#lovecard > img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}


#lovecard>div{
    margin: 20px;
}
#lovecard > div:nth-child(3)  {
    display: flex;
    
    align-items: center;
}
#lovecard > div:nth-child(3)>img{
    margin-right: 10px;
}
#lovecard >p{
    margin: 20px;
}

#add_to_cart{
  
    padding: 10px 35px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #ffffff;
    background-color: #e4002b;
    color: #ffffff;
    margin-top: 30px;
    
}

#lovethese >h1{
    margin-bottom: 30px;

}

#faq{
  
    border-top: 1px solid #e3e3e3;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
   

}

#faq > div{
    margin-top: 60px; 
    width: 45%; 
    margin-bottom: 80px;
}
#lhs>div{
    margin-bottom: 40px;
    border-bottom: 2px solid #e3e3e3;
    padding-bottom: 40px;
}

#view_all_faq{
    padding: 10px 35px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: #ffffff;
}
#view_all_faq:hover{
    background-color: #202124;
    color: #ffffff;
    cursor: pointer;
}

#rhs>div:nth-child(1){
    margin-bottom: 40px;
    border-bottom: 2px solid #e3e3e3;
    padding-bottom: 40px;
}

#rhs >div>div> button{
    padding: 10px 35px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: #ffffff;
      
}

#rhs>div:nth-child(2){

 display: flex;
 
 align-items: center;

}
#call_us{
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rhs img{
    margin-right: 10px;
}

#call_us:hover{
    cursor: pointer;

}
#contact_us{
    cursor: pointer;
}


#lovethese{
    display: none;
}
#emptycart{
    display: none;
}

#add_on>div{
 
    width: 20%;
    height: 250px;
    margin-right: 25px;
    margin-bottom: 40px;

    

}
#add_on>div>img{
    width: 100%;
    border-radius: 5px;

}

#popular_add_on{
    margin-bottom: 0px;
    margin-top: 150px;
}
#add_on{
    display: flex;
    margin-left: 7.5%;
    width: 85%;
    border-bottom: 3px solid #e3e3e3;
    margin-top: 80px;
}

#add_on>div>div{
    margin-top: -120px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.add_to_cart{
    padding: 10px 35px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #ffffff;
    background-color: #e4002b;
    color: #ffffff;
    margin-top: 5px;
     
}
.add_to_cart:hover{
    background-color: #202124;
    cursor: pointer;
}
#pop_heading{
    margin-left: 7.5%;
    color: #ffffff;
    padding-top: 70px;
    
}
#popular_add_on{
    height: 570px;
    background-color: #202124;
}

#container{
    display: flex;
    width: 85%;
    margin: auto;
    height: 700px;
    
    margin-top: 60px;
    justify-content: space-between;
}
#box{
    width: 70%;
   
}
#bill{
    width: 26%;
    

}

#bill>div{
    height: 620px;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

#bill>div>div{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
    
}
#donate{
    margin-right: 10px;
    margin-left: 10px;
}
#checkout{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #ffffff;
    background-color: #e4002b;
    color: #ffffff;
}
#checkout:hover{
   background-color: #e32b4d;
    cursor: pointer;
}

#view_all{
    padding: 5px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 600;
    background-color: #ffffff;
   border: 1px solid black;
   margin-right: 15px;
  
}
#view_all:hover{
    background-color: #202124;
    color: #ffffff;
    cursor: pointer;
}
#bill>div>div:nth-child(2)>img{
    margin-left: 15px;
}
#bill>div>div:nth-child(2){

   background-color: #f8f7f5 ; 
   height: 50px;
   font-family: Arial, Helvetica, sans-serif;
   color: #e4002b;
   font-size: 14px;
   font-weight: 700;

}
#bill>div>div:nth-child(7){
    height: 60px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
#bill>div>div:nth-child(7)>p{
    margin-right: 3px;
}
#carry_bag{
    margin-left: 15px;
}
#bill>div>div:nth-child(8){
    height: 120px;
    border: 1px solid #e3e3e3;
}

#add_more_menu{
    
        padding: 10px 35px;
        border-radius: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 600;
        background-color: #ffffff;
       
    }
    #add_more_menu:hover{
        background-color: #202124;
        color: #ffffff;
        cursor: pointer;
    }

    #remove_all{
        border: 0px;
        background-color: #ffffff;
       text-decoration: underline;
       
    }
    #remove_all:hover{
        background-color: #e3e3e3;
        cursor: pointer;

    }

   #box_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
   }
   #box>div{
    margin-bottom: 10px;
   }
   
   #box_item{
    
   
   
    border-radius: 5px;

   }
   #box_item>div>div>img{
    width: 35%;
    margin-right: 30px;
    border-radius: 3px;
   }
   #box_item>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f7f5;
    margin-bottom: 10px;
    border-radius: 5px;
   
   }
   #box_item>div>div:nth-child(1) {
    width: 50%;
    display: flex;
    
    margin: 10px 15px;
   }
   #box_item>div>div:nth-child(2){
    display: flex;
    margin-right: 60px;
   }
   #box_item h1{
    font-size: 14px;
    
    margin-bottom: 50px;
    
   }

   .min_btn{
    font-size: 50px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 20px; 
   
    
   }

   .max_btn{
    font-size: 30px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-right: 50px;
   }


   .rem_btn{
        border: 0px;
        background-color: #ffffff;
       text-decoration: underline;
   }
   .rem_btn:hover{
    background-color: #e3e3e3;
    cursor: pointer;
   }

   .min_btn>div{
    margin-top: -75%;
   }
   .max_btn>div{
    margin-top: -15%;
   }

   #box_item h3{
    margin-top: 5px;
   }

   .min_btn:hover{
    background-color: #202124;
    color: #ffffff;
    cursor: pointer;
   }

   .max_btn:hover{
    background-color: #202124;
    color: #ffffff;
    cursor: pointer;
   }


   #noi{
    margin-left: -13.6%;
   }
   