#navbar{
    width:100%;
    background-color: #f6f3f0;
    top:0;
    bottom: 0;
    position: sticky;
    z-index: 99;
}

#mainNav{
    display: flex;
    justify-content: space-between;
    width:95%;
    font-size: 18px;
}

#mainNav .navLeft{
    display: flex;
    margin-left: -8%;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:8%;
    font-size: 25px;
}

#mainNav .navRight{
    margin-right: -5%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:5%;
}

.navRight>img{
   width:15%;
}

.logo{
    width:30% ;
    border-radius: 25px;
    margin-right: -60%;
}
