
html{
    scroll-behavior: smooth;
}
#fixed{
    height: 70px;
    width: 100%;
    border: 1px solid rgb(50, 236, 81);
   position: fixed;
   background-color: aqua;
}

#container{
   
    width: 90%;
    border:1px solid rgb(255, 255, 255);
    height: auto;
    margin: auto;
    padding-right: 0px;

}
#menu{
    
    width: 25%;
    border: 1px solid blue;
    height: 600px;
    text-align: left;
    position: fixed;
    
}

#categories{
    margin-left: 28.3%;
    width: 71%;
    border: 1px solid greenyellow;

}

#menuimg{
    height: 30px;
    margin-bottom: -4px;
}
#menuHeading{
   font-family:fantasy;
   font-weight: 80;
   letter-spacing: 2.2px;
}
#menu>h3{
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 15px;
    color: rgb(164, 164, 164);
    line-height: 26px;
    text-decoration: none;

}
#menu>h3>a{
    text-decoration: none;
    color: rgb(164, 164, 164);
}
#menu>h3>a:hover{
    font-size: 18px;
    color: rgb(33, 37, 41);
}

#search_div{
    border: 1px solid rgb(33, 37, 41);
    border-radius: 20px;
    margin-left: 2px;
    width: 23%;
    margin-top: 70px;
    height: 27px;
    display: flex;
    padding-left: 11px;
    padding-right: 11px;
     align-items: center;
     font-size: 13px;

}

#search_div>input{
    
    height: 23px;
    width:70%;
    border: 0px solid red;
    margin-left: 4px; 
}

#line{
    font-weight: bold;
    background-color: black;
    font-size: 20px;
    
}

.section_divs{
    border:0px solid rgb(0, 255, 242);
    height: 500px;
    width: 100%;
    padding-top: -50px;
}

.section_divs>h2{
    color: rgb(33, 37, 41);
    font-family:fantasy;
   font-weight: 50;
   letter-spacing: 0.7px;
   margin-top: 15px;
}