*{
    margin: 0px;
}

#checkout-nav{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#checkout-nav button{
    width: 158px;
    height: 44px;
    font-family: National 2 Regular;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #202124;
    background-color: #ffffff;
    border-radius: 200px;
    font-weight: 600;
    border-color: rgb(124, 124, 124);
}

#checkout-nav button:hover{
    background-color: #202124;
    color: #ffffff;
}


#checkout-nav div{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#last-div{
    width: 260px;
    height: 24px;
}

#last-div h3{
font-size: 24px;
line-height: 22px;
color: #202124;
}

#big{
    width: 80%;
    height: 1000px;
    margin: auto;
    display: flex;
    gap: 20px;
    border: 1px solid red;
}

#big div{
    border: 1px solid red;
    
}

.popup{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-content{
    height: 250px;
    width: 580px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
   
}

.popup-content div{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.remove{
    font-weight: 600;
    color: #202124;
    font-size: 15px;
    border-radius: 100%;
    font-family: sans-serif;
    cursor: pointer;
}


.add{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    
}

#methode{
    height: 590px;
    width: 600px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    
}

#methode  #naaaav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}

#methode li{
    width: 80%;
    height: 60px;
   list-style: none;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#methode li input{
    margin-left: 20px;
}

h3{
margin-left: 10px;
}

#PayRemove{
    cursor: pointer;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}