.deals_header_image {
    width: 100%;
    height: 280px;
    background-color: #202124;
    background-position: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white; 
}

.deals_header_image>h2{
    font-family: "National 2 Condensed";
    font-weight: 700;
}