#footer{
    background-color: black;
    color: white;
    margin: auto;
    padding-top: 20px;
}

#footerDiv{
    display: flex;
    color: white;
    /* padding: 3%; */
    align-items: left;
    justify-content: center;
    gap: 4%;


}

#footerDiv h6{
    font-size: 15px;
    font-family: "National 2 Regular";
    font-weight: 400;
    line-height: 22px;
}

#privacyPol{
    display: flex;
    margin: auto;
    margin-top: 60px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    font-family: "National 2 Regular";
    font-weight: 400;
    line-height: 22px;
    gap:5px;
}

#privacyPol p{
  margin-right: 30%;
  margin-left: 30%;
}